<template>
  <div class="main-page-content">
    <p>{{ exampleText }}</p>
    <img src="https://vuejs.org/images/logo.png">
  </div>
</template>

<script>
export default {
  name: 'MainPage',
  data () {
    return {
      exampleText: 'This is the main page'
    }
  }
}
</script>
