<template>
  <div>
    <p>{{ exampleText }}</p>
    <p>This is fetched data: {{ fetchedInfo }}</p>
  </div>
</template>

<script>

const axios = require('axios')

export default {
  name: 'OtherPage',
  data () {
    return {
      exampleText: 'This is a prop string.',
      fetchedInfo: null
    }
  },
  mounted () {
    axios
      .get('https://jsonplaceholder.typicode.com/todos')
      .then(response => (this.fetchedInfo = response.data[1]))
  }
}
</script>
