<template stuffString="asasas">
  <div>
    <p>{{ exampleText }}</p>
    <p>
      <b>{{ stuffString }}</b>
      and this is the prop-number from Main.vue:
      <b>{{ stuffNumber }}</b>
    </p>
    <div data-test="random-page-test">
      <p>This is a message for testing</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    stuffString: String,
    stuffNumber: Number
  },
  name: 'RandomPage',
  data () {
    return {
      exampleText: 'Lorem ipsum dolor sit amet, labore et dolore magna aliqua.'
    }
  }
}
</script>
