<template>
  <div class="test-page-container">
    <input v-model="msg">
    <p>Data from input: {{msg}}</p>
    <p>Prop: {{propMessage}}</p>
    <p>Prop message: {{helloMsg}}</p>
    <p>Computed message: {{computedMsg}}</p>
    <button @click="greet">Greet</button>
    <div class="test-page-output-box">
      <p>Return from Greet:
        <b>{{ greetOutput }}</b>
      </p>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  props: {
    propMessage: {
      type: String,
      default: 'Test Testsson'
    }
  },
  data () {
    return {
      greetOutput: null
    }
  }
})
export default class TestPage extends Vue {
  // initial data
  msg = 123

  // use prop values for initial data
  helloMsg = 'Hello ' + this.propMessage

  // lifecycle hook
  mounted () {
    this.greet()
  }

  // computed
  get computedMsg () {
    return 'Computed ' + this.msg + ' (get)'
  }

  // method
  greet () {
    this.greetOutput = this.msg + ' (sent from a method)'
  }
}
</script>
