// - - - Constants - - - //

@import "constants.less";

// - - - Components and Pages - - - //

@import "MainPage.less";
@import "TestPage.less";

// - - - Dom - - - //

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#app {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 25px 5%;
    background: @color-pink;
    color: @color-white;

    a {
      text-decoration: none;
      color: inherit;
    }

    .menu {
      padding: 10px 25px;
      background: @color-dark-blue-grey;
      -webkit-box-shadow: @shadow-medium;
      -moz-box-shadow: @shadow-medium;
      box-shadow: @shadow-medium;

      a {
        text-decoration: none;
        color: inherit;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;

        li {
          margin: 0 15px;
        }
      }
    }
  }

  #content {
    width: 90%;
    padding: 25px 5%;
  }
}
