.test-page-container {
  input {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;

    &:active, &:focus {
      outline: none;
    }
  }

  button {
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    background: #03a9f4;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background: #0288d1;
    }

    &:active, &:focus {
      outline: none;
    }
  }

  .test-page-output-box {
    background: #eee;
    padding: 15px;
    margin: 15px 0 0 0;
    border-radius: 5px;
  }
}
