<template>
  <div class="header">
    <h1>
      <router-link :to="{ name: 'MainPage' }">{{ headerMessage }}</router-link>
    </h1>
    <h3>{{ subHeadMsg }}</h3>
    <Nav/>
  </div>
</template>

<script>
import Nav from './Nav'

export default {
  name: 'Header',
  props: {
    subHeadMsg: String
  },
  data () {
    return {
      headerMessage: 'This is header'
    }
  },
  components: {
    Nav
  }
}
</script>
