<template>
  <div class="wrapper">
    <Header :subHeadMsg="mainMsg"/>
    <div id="content">
      <router-view :propMessage="propMessage" :stuffString="stuffString" :stuffNumber="stuffNumber"></router-view>
    </div>
  </div>
</template>

<script>
import Header from './Header'

export default {
  name: 'Main',
  components: {
    Header
  },
  data () {
    return {
      mainMsg: 'This is subheader from Main.vue',
      propMessage: 'Lars Larsson (this name is sent from Main.vue)',
      stuffString: 'This is a string from Main.vue',
      stuffNumber: 666
    }
  }
}
</script>
