<template>
  <div class="menu">
    <ul>
      <li>
        <router-link :to="{ name: 'OtherPage' }">Other</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'RandomPage' }">Random</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'TestPage' }">Test</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Nav'
}
</script>
